* {
  overflow: hidden;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}
.username {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}


/* Login page */
.login-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

