body{
    display: flex;
    height: 100vh;
    width: 100vw;
    /* justify-content: center; */
    /* align-items: center; */
    border: 1px solid black;
}

.items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* font-size: x-large; */
    border: 1px solid#000;
    background-color: white;
    height: 100%;
    width: 30%;
    }
.overview{
    width: 100%;
    background-color: wheat;

}
.menu{
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
}





    /* profile page */
    .profile-page{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: space-around;
        margin-left: 70px;
        /* align-items: center; */
        /* justify-items: space-evenly; */
        /* gap: 2em; */
        /* align-items: space-between; */

    }
    .profile-page h1{
        text-align: center;
        /* margin: 20px; */
    }


    .profile-img,
    .current-streak,
    .current-folders,
    .current-files{
        display: flex;
        gap: 2.5em;
        

    }
    .profile-img img,
    .current-streak img,
    .current-folders img,
    .current-files img{
        width: 70px;
    }

    .category-main{
        /* width: 100vw; */
        height: 100vh;
        width: 120%;
        background-color: green;
        display: flex;

        /* justify-content: center; */
        /* align-items: center; */
    }
    .category-left{
        width: 50%;
        display: flex;
        flex-direction: column;
        background-color: red;
       
    }
    .category-top img{
        width: 50px;
    }
    .category-right{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        background-color: yellow;
        gap: 1.5em;
    }
    .category-right button{
        padding: 8px 10px;
        width: 150px;
        margin-left: 30px;
        border-radius: 10%;
        
    }
    .category-top{
        display: flex;
        align-items: center;
        gap: 1.5em;
        margin-top: 30px;

    }
    .image-category{
        margin-left: 30px;
        display: flex;
        align-items: center;
        gap: 2em;
        margin-top: 60px;
    }
    .image-category img{
        width: 40px;
    }