body{
    display: flex;
    height: 100vh;
    width: 100vw;
    /* justify-content: center; */
    /* align-items: center; */
    border: 1px solid black;
}

.items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* font-size: x-large; */
    border: 1px solid#000;
    background-color: rgb(247, 241, 241);
    height: 100%;
    width: 30%;
    :hover
    {
        color: blueviolet;
    }
    }
.overview{
    width: 100%;
    background-color: rgb(238, 157, 7);

}
.menu{
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
color: rgb(5, 5, 5);
}





    /* profile page */
    .profile-page{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: space-around;
        margin-left: 70px;
        /* align-items: center; */
        /* justify-items: space-evenly; */
        /* gap: 2em; */
        /* align-items: space-between; */

    }
    .profile-page h1{
        text-align: center;
        /* margin: 20px; */
    }


    .profile-img,
    .current-streak,
    .current-folders,
    .current-files{
        display: flex;
        gap: 2.5em;


    }
    .profile-img img,
    .current-streak img,
    .current-folders img,
    .current-files img{
        width: 70px;
    }

    .category-main{
        /* width: 100vw; */
        height: 100vh;
        width: 120%;
        background-color: rgb(238, 157, 7);
        display: flex;

        /* justify-content: center; */
        /* align-items: center; */
    }
    .category-left{
        width: 50%;
        display: flex;
        flex-direction: column;
        background-color: rgb(238, 157, 7);

    }
    .category-top img{
        width: 50px;
    }
    .category-right{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        background-color: rgb(238, 157, 7);
        gap: 1.5em;
        :hover
        {
            color: blueviolet;
        }
        margin-left: 300px ;
        margin-top: 0px;
    }
    .category-right button{
        padding: 8px 10px;
        width: 150px;
        margin-left: 30px;
        border-radius: 10%;

    }
    .category-top{
        display: flex;
        align-items: center;
        gap: 1.5em;
        margin-top: 30px;

    }
    .image-category{
        margin-left: 30px;
        display: flex;
        align-items: center;
        gap: 2em;
        margin-top: 60px;
    }
    .image-category img{
        width: 40px;
    }
/* scores */
.score-main {
    width: 90%;
    height: 100%;
  }
  .score-top {
    background-color:rgb(111, 76, 145) ;
    display: flex;
    justify-content: space-around;

    /* width: 100%; */
  }
  .today-scores{
      width: 45%;

  }
  .target-score{
      width: 55%;
      display: flex;
      margin-left: 80px;
      /* justify-content: end; */
  }
  .score-subject {
      width: 100%;
    display: flex;
    gap: 1.5em;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 30px;
  }
  .score-bottom{
      /* background-color: blue; */
      height: 100%;
      text-align: center;
      margin-top: 20px;
  }
  .scores{
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  }
  .score-card{
      width: 200px;
      height: 200px;
      background-color: beige;
      border-radius: 10%;
      padding: 10px;

  }
